{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block auth %}

<div class="registration-form-container">
        <div class="container">
            
            <div class="myCard">
                        <div class="myLeftCtn"> 
                            <form class="myForm text-center">
                                <div class="img"> <img src= "/media/login/text.png"  width="135" height="60">
                                  <header>Create Your SkillJag Account</header>
                                      <p class="lead text-muted">Connecting Experts!</p>
                                <div class="form-group">
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}