{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block auth %}



<div class="login-form-container">
    <form method="POST">
        {% csrf_token %}
      <div class="container">
          <div class="myCard">
              <div class="row">
                  <div class="col-md-6">
                      <div class="myLeftCtn"> 
                          <form class="myForm text-center">
                              <div class="img"> <img src= "/media/login/text.png"  width="135" height="60">
                                <header>Continue to SkillJag</header>
                                    <p class="lead text-muted">Connecting Experts!</p>
                              <div class="form-group">
                                </div>
                                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required="" id="id_username" placeholder="E-mail">
                                <br>
                                <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required="" id="id_password" placeholder="Password">
                                <br>
                                    {{ form|crispy }}
                                   
                                    <button type="submit" class="btn btn-sm btn-outline-primary" style="background-color: #a758ef; color: white; outline: none; border-radius: 10%;">Login</button>
                                        <br>
                                            <br>
                                        <a href="{% url 'django_registration_register' %}"><span style="color: #a758ef;">Forgot Password?</span></a></p>
                                    <hr> 
                                </form>
    <p class="mt-2"> <a href="{% url 'django_registration_register' %}"><span style="color: #a758ef;">Create an Account</span></a>   Or</p> 
                  </div>
                <div>
    <button type="submit" class="btn btn-sm btn-outline-primary" style="background-color: #a758ef; color: white; outline: none; ">Sign in with Google</button>
</div>

                          </form>
                      </div>
                  </div> 
                  <div class="col-md-6">
                      <div class="myRightCtn">
                              <div class="box">
                              <img src="/media/login/logbanner.png" width="478" height="390">
                              <div class="bannertag"> 
                            </div>
                              </div>
                                  
                      </div>
                  </div>
              </div>
          </div>
  </div>

{% endblock %}


{% block js %}
<script> 
    document.getElementById('div_id_username').innerHTML = ''; 
    document.getElementById('div_id_password').innerHTML = ''; 
</script> 
{% endblock %}