{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block auth %}

<div class="registration-form-container">
        <div class="container">
            
            <div class="myCard">
                        <div class="myAboutCtn"> 
                            <form class="myForm text-center">
                                <div class="img" style="position: relative; bottom:50px"> <img src= "/media/login/text.png"  width="135" height="60">
                                  <header>Connecting Experts!</header>
                                      <p class="lead text-muted">ABOUT US</p>
                                      <p>WE ARE A GROUP OF ENTHUSIASTS WHO THINK THAT INDIA IS A LAND OF OPPORTUNITIES AND THE EXISTING SOCIAL MEDIAS ARE NOT HELPING TO CONNECT THE SKILLED PEOPLE WITH THESE OPPORTUNITIES.
                                        OUR VISION IS TO BRING PEOPLE WITH SKILL TO THE STARTUPS, PROJECTS AND OTHER VENTURES FROM INDIA, WHICH IS THE MAIN GROWTH SOURCE OF THE NATION AND DECREASE THE NUMBER OF VENTURE FAILURES WITH AN ASSIST OR MENTORING FROM THE EXPERTS.
                                        BY THIS A GREAT LOT NUMBER OF SKILLED PEOPLE WILL GET TO THEIR DREAM JOBS AND GREAT PROJECTS WILL COME FROM INDIA
                                        </p>
                                        <p class="lead text-muted">Want to Invest in Us?</p>
                                        <p>YEAH, WE KNOW THAT THIS IS NOT THE CONVENTIONAL METHOD OF DOING THIS. BUT WE DON’T STICK TO CONVENTIONAL METHODS. WE THINK THAT IF YOU BELIEVE IN OUR IDEA, IT IS BETTER THAT WE GET TOGETHER.

                                            WE ARE LOOKING FOR AN ANGEL INVESTOR WHO COULD GUIDE US THROUGH THE PIT HOLES AND HUMPS AHEAD, WHO HAS EXPERIENCE. A PERSON WHO  ENJOY BEING IN  STARTUP AGAIN. A PERSON WHO SITS IN THE FRONT SEAT OF THIS CAR AND GUIDE US THROUGH. IF YOU ARE THAT PERSON, CONTACT US ON:
                                            
                                            <span style="color: #a758ef;">CEO@SKILLJAG.COM</span>
                                            </p>
                                            <p class="lead text-muted">
                                                Contact Us!
                                            </p>
                                            <p>
                                                FOR ANY QUERIES FEEDBACK AND USER SUPPORT,  
                                                <span style="color: #a758ef;">WECARE@SKILLJAG.COM</span>

                                            </p>

                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}